* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.dashboard-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f1f5f9;
}

.dashboard-right {
  margin-left: 240px; /* same as sidebar width */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(100vw - 240px);
}


.dashboard-content {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
  background-color: #f8fafc;
}
